body {
  /* grid opzet */
  display: grid;
  /* grid linken */
  grid-template-areas: "nav"
    "header"
    "main"
    "footer";
  /* verticaal */
  grid-template-rows: 3rem 24rem 46rem 26rem;
  /* geen ruimte bij de randen */
  margin: 0rem;
}



/* NAVIGATIE */

nav {
  /* linkt naar grid */
  grid-area: nav;
  /* gradient */
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  /* komt op voorgrond */
  z-index: 1;
}

.logo {
  /* grootte */
  width: 5rem;
  /* afstand van de randen */
  margin: 1rem;
}



/* HEADER */

header {
  /* linkt naar grid */
  grid-area: header;
  background-color: rgb(162, 255, 49);
  margin-top: -5rem;
  margin-left: 0;
  margin-right: 0;
}

.background-image {
  height: 100%;
  width: auto;
}



/* MAIN */

main {
  /* linkt naar grid */
  grid-area: main;
  background-color: white;
  /* centreren in het midden */
  justify-content: center;
}

h1 {
  position: relative;
  top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
}

.harry {
  /* grootte */
  width: 60%;
  /* houdt zijn positie aan en heeft geen inpact op de elementen eromheen */
  position: relative;
  display: block;
  /* centreerd element in het midden */
  margin: auto;
  margin-top: 4rem;
}

h3 {
  text-align: center;
  color: #567046;
  font-size: 2rem;
  font-family: "Denk One", regular;
  margin-bottom: 4rem;
}


/* book effect */

.book {
  transition: opacity 0.4s 0.2s;
}

.ProductFotos {
  /* de grootte van de image is afhankelijk van de oppervlakte van de ouder, in dit geval het boek */
  width: 75%;
  height: 60%;
  object-fit: cover;
  display: block;
  position: relative;
  /* centreerd element in het midden */
  margin: auto;
  margin-top: 1rem;
  margin-bottom: -1rem;
  /* ronde hoeken */
  border-radius: 0.5rem;
}

h4 {
  text-align: center;
  color: #567046;
  font-size: 2rem;
  font-family: "Denk One", regular;
  margin-top: 1.5rem;
}

.ButtonAglaonema {
  position: relative;
  bottom: 1.5rem;
  width: 6rem;
  height: 2rem;
  display: block;
  margin: auto;
  /* ronde randen */
  border-radius: 0.2rem;
  background-color: #567046;
  border: none;
  color: #F8E9C2;
}

.ButtonGynura {
  position: relative;
  bottom: 1.5rem;
  width: 6rem;
  height: 2rem;
  display: block;
  margin: auto;
  border-radius: 0.2rem;
  background-color: #567046;
  border: none;
  color: #F8E9C2;
}


/* coppied code book */

.page {
  width: 77vw;
  height: 113vw;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}



.page:nth-child(even) {
  /* clear: both; */
}

.book {
  /* bepaald hoeveel het effect doet voor de transform-style */
  perspective: 250vw;
}

.book .pages {
  position: relative;
  display: block;
  /* midden positioneren */
  margin-left: auto;
  margin-right: auto;
/* realistisch effect voor de bladzijdes omslaan */
  transform-style: preserve-3d;
  /* verbergd de achterkant van het element tijdens het roteren */
  backface-visibility: hidden;
  border-radius: 4px;
   /* ruimte tussen de 2 pagina's */
   width: 153vw;
   /* hoogte pagina's */
   height: 134vw;
}


/* grootte boek aanpassen */

.book .page {
  position: absolute;
  transform-origin: 0 0;
  /* zorgt ervoor dat de transition vloeiend loopt */
  transition: transform 1.4s;
  /* verbergd de achterkant van het element */
  backface-visibility: hidden;
  /* zorgt ervoor dat de 3D-transformaties van de kindelementen zichtbaar blijven in de 3D-ruimte */
  transform-style: preserve-3d;
  /* geeft aan via de cursur dat het element klikbaar is */
  cursor: pointer;
  /* bepaald de kleur van het boek */
  background-color: #f0f0f0;
}

/* .book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
} */

.book .page:nth-child(odd) {
  /* pointer-events: all;
  transform: rotateY(0deg); */
  /* zorgt ervoor dat de pagina's naast elkaar staan */
  right: 0;
  border-radius: 0 4px 4px 0;
  /* schaduw effect */
  background-image: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(odd):hover {
  /* laat de pagina's mee bewegen bij een hover */
  transform: rotateY(-15deg);
}

.book .page:nth-child(odd):hover:before {
  /* background: rgba(0, 0, 0, 0.03); */
}

.book .page:nth-child(odd):before {
  /* background: rgba(0, 0, 0, 0); */
}

.book .page:nth-child(even) {
  /* pointer-events: none; */
  /* zorgt dat de bladzijdes achter elkaar zitten */
  transform: rotateY(180deg);
  /* zorgt dat de bladzijde op de juiste manier omslaat */
  transform-origin: 100% 0;
  /* left: 0; */
  border-radius: 4px 0 0 4px;
  /* border-color: black; */
  /* zorgt voor schaduw effecten op de omgeslagen pagina's */
  background-image: linear-gradient(to left, rgba(0, 0, 0, .12) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(even):before {
  /* background: rgba(0, 0, 0, 0.2); */
}

.book .page.grabbing {
  transition: none;
}

.book .page.flipped:nth-child(odd) {
  /* pointer-events: none; */
  /* zorgt dat de bladzijdes achter elkaar zitten */
  transform: rotateY(-180deg);
}

.book .page.flipped:nth-child(odd):before {
  /* background: rgba(0, 0, 0, 0.2); */
}

.book .page.flipped:nth-child(even) {
  /* pointer-events: all; */
  /* zorgd dat de omgeslagen bladzijde ernaast komt */
  transform: rotateY(0deg);
}

.book .page.flipped:nth-child(even):hover {
  /* laat de pagina's mee bewegen bij een hover */
  transform: rotateY(15deg);
}

.book .page.flipped:nth-child(even):hover:before {
  /* background: rgba(0, 0, 0, 0.03); */
}

.book .page.flipped:nth-child(even):before {
  /* background: rgba(0, 0, 0, 0); */
}

/* *,
* :before,
*:after {
  box-sizing: border-box;
} */


/* FOOTER */

footer {
  /* linkt aan footer */
  grid-area: footer;
  background-color: #F8E9C2;

  & p {
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 1.4;
    color: #567046;
    
  }
}

h2 {
  margin-top: 3rem;
  margin-left: 2rem;
  color: #567046;
}


@media (min-width: 426px) {

  /* HEADER */
  .background-image {
    height: 100%;
  }

  h3 {
    font-size: 1.5rem;
  }

  /* BOEK */
  /* positie boek aanpassen */
  .book .pages {
    /* ruimte tussen de 2 pagina's */
    width: 95vw;
    /* hoogte pagina's */
    height: 134vw;
  }


  /* grootte boek aanpassen */

  .book .page {

    top: 0;
    /* breedte pagina */
    width: 48vw;
    max-width: 90%;
    /* hoogte pagina */
    height: 80vw;
    max-height: 56%;
  }

  body {
    /* verticaal */
    grid-template-rows: 3rem 24rem 44rem 26rem;
  }
}



@media (min-width: 696px) {

  /* HEADER */
  .background-image {
    width: 100%;
    height: auto;
  }

  h3 {
    font-size: 2rem;
  }

  body {
    /* verticaal */
    grid-template-rows: 3rem 24rem 51rem 26rem;
  }

 /* BOEK */
  /* positie boek aanpassen */
  .book .pages {
    /* ruimte tussen de 2 pagina's */
    width: 86vw;
  }


  /* grootte boek aanpassen */

  .book .page {

    top: 0;
    /* breedte pagina */
    width: 43vw;
    max-width: 90%;
    /* hoogte pagina */
    height: 65vw;
    max-height: 56%;
  }
}



@media (min-width: 1025px) {

  /* HEADER */
  .background-image {
    width: 100%;
    height: auto;
  }

  h3 {
    font-size: 3rem;
    margin-top: 0rem;
  }

  body {
    /* verticaal */
    grid-template-rows: 3rem 24rem 60rem 26rem;
  }

  /* BOEK */
  .book .pages {
    /* ruimte tussen de 2 pagina's */
    width: 60vw;
    /* hoogte pagina's */
    height: 134vw;
  }

  .book .page {
    top: 0;
    /* breedte pagina */
    width: 30vw;
    /* hoogte pagina */
    height: 40vw;
  }

  h1 {
    font-size: 4rem;
  }
}