body{
    /* grid opzet */
    display: grid;
    /* grid linken */
    grid-template-areas: "nav" 
    "header" 
    "main" 
    "footer";
    /* horizontaal */
    grid-template-columns: 1fr;
    /* verticaal */
    grid-template-rows: 3rem 24rem 47rem 26rem;
    /* geen ruimte bij de randen */
    margin: 0rem;
    width: 100%;
}   


/* NAVIGATIE */

nav{
    /* linkt aan grid */
    grid-area: nav;
    /* gradient */
    background-image: linear-gradient(rgb(0, 0, 0) , rgba(0, 0, 0, 0));
    z-index: 1;
}

.logo{
    /* grootte */
    width: 5rem;
    /* afstand van de randen */
    margin: 1rem;
}


/* HEADER */

header{
    /* linkt aan header */
    grid-area: header;
    background-color: rgb(162, 255, 49);
    margin-top: -5rem;
}

.background-image{
    height: 100%
}


/* MAIN */

main{
    /* linkt aan main */
    grid-area: main;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p{
      margin-top: 8vw;
      text-align: left;
      margin-left: 1rem;
      font-size: 1.4rem;
      color: #000000;
    }
}

h1{
  text-align: center;
  position: relative;
  top: -2rem;
}

/* book effect */


.book {
    transition: opacity 0.4s 0.2s;
  }

  .page {
    width: 30vw;
    height: 44vw;
    background-color: #111111;
    float: left;
    margin-bottom: 0.5em;
    background: left top no-repeat;
    background-size: cover;
  }



  .page:nth-child(even) {
    clear: both;
  }

  .book {
    perspective: 250vw;
  }

  .book .pages {
    width: 160vw;
    height: 134vw;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
    /*box-shadow: 0 0 0 1px #e3dfd8;*/
  }
  .book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 80vw;
    height: 130vw;
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
  }

  .book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
  }

  .book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
  }
  .book .page:nth-child(odd):hover {
    transform: rotateY(-15deg);
  }
  .book .page:nth-child(odd):hover:before {
    background: rgba(0, 0, 0, 0.03);
  }
  .book .page:nth-child(odd):before {
    background: rgba(0, 0, 0, 0);
  }
  .book .page:nth-child(even) {
    pointer-events: none;
    transform: rotateY(180deg);
    transform-origin: 100% 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    border-color: black;
    background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
  }

  .book .page:nth-child(even):before {
    background: rgba(0, 0, 0, 0.2);
  }
  .book .page.grabbing {
    transition: none;
  }
  .book .page.flipped:nth-child(odd) {
    pointer-events: none;
    transform: rotateY(-180deg);
  }
  .book .page.flipped:nth-child(odd):before {
    background: rgba(0, 0, 0, 0.2);
  }
  .book .page.flipped:nth-child(even) {
    pointer-events: all;
    transform: rotateY(0deg);
  }
  .book .page.flipped:nth-child(even):hover {
    transform: rotateY(15deg);
  }
  .book .page.flipped:nth-child(even):hover:before {
    background: rgba(0, 0, 0, 0.03);
  }
  .book .page.flipped:nth-child(even):before {
    background: rgba(0, 0, 0, 0);
  }

  *,
  * :before,
  *:after {
    box-sizing: border-box;
  }


/* FOOTER */

footer{
    /* linkt aan footer */
    grid-area: footer;
    background-color: #F8E9C2;

    & p{
      margin-left: 2rem;
      font-size: 1rem;
      line-height: 1.4;
      color: #567046;
    }
  }
  
  h2{
    margin-top: 3rem;
    margin-left: 2rem;
    color: #567046;
  }




   /* RESPONSIVE */
 @media (min-width: 406px){

  body{
    /* de vlakken verticaal verlengd */
    grid-template-rows: 5rem 24rem 52rem 29rem;
}

.background-image{
  width: 100%;
  height: auto;
}

h1{
  text-align: center;
  margin-top: -5rem;
}

 }